# DEFAULT BEHAVIOUR
* text eol=lf

# MEDIA
*.jpg	binary
*.gif	binary
*.png	binary
*.mp3	binary
*.wav	binary
*.ogg	binary
*.mp4	binary
*.3gp	binary
*.webm	binary
*.ogv	binary
*.mov	binary
*.pdf	binary
*.ico	binary
*.swf	binary

# FONTS
*.eot	binary
*.ttf	binary
*.woff	binary
*.woff2	binary

# OTHER BINARIES
*.exe	binary
*.zip	binary
*.gz	binary
*.tar	binary
*.phar	binary

# LIBRARY CONTENT
png		binary
jpg		binary
gif		binary
mp3		binary
wav		binary
pdf		binary
mp4		binary
3gp		binary
mov		binary
ogv		binary
ogg		binary
m4v		binary
webm	binary
pdf		binary
zip		binary